body { 
    background-color: Black;
    color: White;
}	

#main-content {
   margin: auto 15%; 
   /*
   margin: auto 10%;
   border: solid white 1px;
   padding-left: 5%;
   padding-right: 5%;
   padding-bottom: 5%;
   box-shadow: 5px 5px grey;
   */
}

iframe {
    transform: scale(0.5, 0.5);
    height: 1000px;
    width: 1000px;
}

#student-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    column-gap: 8%;
    /* row-gap: 5%; */
    /* margin: 0 8%; */
}

.gallery_item {
    position: relative;
}

.gallery_img {
    max-width: 100%;
    object-fit: scale-down;
}

.gallery_caption {
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 14pt;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.text {
    font-family: monospace;
    color:darkgrey;
    margin: 0px;
}

p {
    margin: 0px;
}

h2 {
    font-family: monospace;
    color:floralwhite;
}

a:link, a:visited {
    color: floralwhite;
}

.gallery_item a:link, a:visited {
    text-decoration: none;
}

trapezoid {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid red;
    border-top: 0px solid orange;
    width: 160px;
    height: 0px;
 }

.fill-white {
    fill: #fff;
}

.logo {
    display: block;
    filter: drop-shadow(0 0 8px #2500D3);
    fill: #fff;
    width: 13rem;
}