body { 
    background-color: Black;
    color: White 
}	

.gallery {
    display: grid;
    grid-template-columns: max-content max-content;
    /* padding: 10px; */
    grid-gap: 0px;
    /* row-gap: 10px; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(3, 5vw); */
}

.gallery__img {
    /* width: 50%; */
    /* width: 100px; */
    height: 150px;
    /* width: 50%; */
    /* height: 100px; */
    object-fit:scale-down;
    overflow: hidden;
}

.gallery__caption {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
   
    position: absolute;
    top: 0; left: 0;
    text-align: center;
    /* vertical-align: bottom; */
    padding-top: 30%;
   
    background-color: rgba(0, 0, 0, 0.3); /* Not too much opacity */
    color: white;
  }
   
.gallery__caption {
    /* visibility: none;  */
    opacity: 0.1;
    transition: opacity 0.3s;
}

.gallery__item {
    position: relative;
    border: 1px solid white; /* Helps with debugging! */
    /* padding: 20px; */
}

/* This is how 'actions' can be specified */
/* TODO: A list of such actions */
.gallery__item:hover .gallery__caption {
    visibility: visible; 
    opacity: 1;
}

.code-comments {
    font-family: monospace;
    color:darkgrey;
    margin: 0px;
}

p {
    margin: 0px;
}

.function-headers {
    font-family: monospace;
    color:floralwhite;
}

body {
    margin: 20px 40% auto 0;
}